@import "vars";
@import "global";
@import "fonts";

// start header
.header__top {
  background-color: $grey;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
}
.header__seller {
  margin: auto;
  margin-right: 50px;
  background-color: $blue;
  font-size: 14px;
  line-height: 28px;
  padding: 10px 15px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
}
.header__box {
  width: 356px;
  display: flex;
  // justify-content: space-between;
  color: #000;
  align-items: center;
}
.header__box-list {
  max-width: 40px;
  width: 100%;
  margin-right: 16px;
  .lnr {
    color: #7e8fa1;
    font-size: 20px;
  }
  a {
    position: relative;
  }

  .circle {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -17px;
    right: -18px;
    border-radius: 14px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #fff;
    display: block;
    text-align: center;
  }
}
.notification .circle {
  background-color: #ff6a6c;
}
.message .circle {
  background-color: #62d03b;
}
.basket .circle {
  background-color: #0674ec;
}
.user__inner {
  display: flex;
  justify-content: space-between;
}
.header__menu-inner {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user__box {
  width: 176px;
  margin-left: 30px;
}
.user__info {
  width: 107px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin-left: 20px;
  color: #333333;
  .user__money {
    color: #0674ec;
  }
}
.user__images img {
  width: 50px;
}
.menu {
  display: flex;
}
.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 30px;
    }
  }
  a {
    text-transform: uppercase;
    color: #333333;
    font-weight: 500;
    font-size: 15px;
  }
}
.header__search {
  max-width: 360px;
  position: relative;
  input {
    height: 46px;
    width: 100%;
    font-size: 15px;
    color: #898f96;
    padding: 0px 80px 0px 20px;
    border-radius: 25px;
    border: none;
    border: 1px solid #d9dfe5;
    outline: none;
    ::placeholder {
      font-size: 15px;
      color: #898f96;
    }
  }
  button {
    position: absolute;
    right: 0;
    background-color: $blue;
    border: none;
    padding: 14px 23px 12px;
    border-radius: 25px;
    cursor: pointer;
  }
}
// end header
// start search-product

.search-product {
  background-color: #294cce;

  position: relative;
  &__inner {
    padding: 180px 0 235px;
    text-align: center;
    color: #fff;
  }
}
.search__title {
  font-size: 60px;
  line-height: 75px;
  margin-bottom: 34px;
  span {
    font-weight: 700;
    display: block;
  }
}
.search__text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 68px;
}
.search__btn {
  a {
    margin: 15px;
    padding: 12px 30px;
    font-size: 16px;
    color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    &:hover {
      color: #0674ec;
      background-color: #fff;
    }
  }
}
// end search-product
// start features
.features {
  padding: 175px 0 110px;
}
.features__inner {
  display: flex;
  justify-content: space-between;
}
.features-item {
  max-width: 360px;
  padding: 41px 0 50px;
  text-align: center;

  &:hover {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
  }
}
.features-image {
  height: 121px;
  margin-bottom: 32px;
  img {
    align-items: center;
  }
}
.features-title {
  font-size: 24px;
  margin-bottom: 28px;
}
.features-text {
  color: #555;
  padding: 0 35px;
}
// end features

// start weekly
.weekly-slider {
  background-color: #eff1f5;
  padding: 120px 0;
  border-radius: 4px;
}

.weekly-slider__title {
  margin-bottom: 50px;
}
.title-block {
  position: relative;
}
.weekly-slider__arrows {
  position: absolute;
  right: 30px;
  width: 111px;
  height: 46px;
  background-color: #7347c1;
  border-radius: 32px;
  top: 31px;
  span {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 12px;
  }
  .lnr-chevron-right {
    right: 13px;
  }
  .lnr-chevron-left {
    right: 75px;
  }
}

.weekly__item-box {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.weekly__item-img {
  max-width: 560px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 50px;
}
.weekly__item-descr {
  padding: 47px 0 27px;
  background-color: #fff;
  margin-right: 50px;
}

.weekly__item-title {
  font-size: 24px;
  margin-bottom: 19px;
}
.weekly__item-info {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.weekly__item-author {
  display: flex;
  align-items: center;
  span {
    font-size: 15px;
    color: #000;
  }
}
.weekly__item-avatar {
  margin-right: 8px;
}
.wordpress {
  font-size: 15px;
  color: #7347c1;
  padding-left: 26px;
  position: relative;
  margin-left: 19px;
  &::before {
    content: "";
    background-image: url(../images/icons/wordpress.png);
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 6px;
  }
}
.weekly__item-text {
  font-size: 16px;
  color: #555;
  line-height: 30px;
  margin-bottom: 40px;
}
.tag {
  display: flex;
  padding-bottom: 45px;
  border-bottom: 1px solid #ececec;
  li {
    display: inline-block;
    padding: 8px 17px;
    color: #868c96;
    background-color: #f1f3f6;
    border-radius: 20px;
    & + li {
      margin-left: 8px;
    }
  }
}
.weekly__item-rate {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  align-items: center;
  .rate-star {
    font-size: 15px;
  }
}
.weekly__rate-info {
  display: flex;
  align-items: center;

  .price-range {
    font-size: 15px;
    background-color: #0674ec;
    color: #fff;
    padding: 0px 18px;
    border-radius: 22px;
  }
  .like {
    font-size: 15px;
    color: #555;
    margin-left: 20px;
    .lnr-heart {
      color: #7347c1;
    }
  }
  .cart {
    font-size: 15px;
    margin-left: 20px;
    color: #0674ec;
    margin-left: 20px;
  }
}

// end product-slider
// start new-products
.new-products {
  padding: 120px 0;
  background-color: #f6f7fb;
}

.new-products__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  .filter {
    font-size: 16px;
    color: #747b86;
  }
}
.new-products__inner-box,
.news__items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: 57px;
  .product__item {
    margin-left: 30px;
    flex-basis: calc(33.333% - 30px);
  }
}

.new-products__inner-btn {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  border-radius: 4px;
  margin-bottom: 50px;
  button {
    padding: 10px 20px;
    background-color: #f1f3f6;
    border-radius: 24px;
    color: #747b86;
    font-size: 15px;
    border: none;
    outline: none;
    &:hover {
      background-color: #0674ec;
      color: #fff;
    }
  }
}
.product__item {
  max-width: 360px;
  width: 100%;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 30px;
}
.product__item-img {
  height: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover .more-info {
    display: block;
  }
  &:hover .live-demo {
    display: block;
  }
}

.more-info,
.live-demo {
  display: none;
  padding: 14px 30px;
  background: transparent;
  border: 1px solid #f4f4f4;
  border-radius: 32px;
  position: absolute;
  top: 93px;
  outline: none;
  &:hover {
    background-color: #fff;
    a {
      color: #0674ec;
    }
  }
}
.more-info {
  left: 45px;
}
.live-demo {
  left: 185px;
}
.product__descr {
  padding: 30px 0px 17px 0px;
}
.product__item-title {
  font-size: 20px;
  line-height: 7px;
  padding: 0 30px;
  margin-bottom: 16px;
}
.product__item-info {
  display: flex;
  padding: 0 30px;
  margin-bottom: 30px;
}
.product__item-author {
  display: flex;
  span {
    font-size: 15px;
    color: #000;
    margin-left: 9px;
  }
}
.plugin {
  font-size: 15px;
  color: #7347c1;
  padding-left: 26px;
  position: relative;
  margin-left: 19px;
  &::before {
    content: "";
    background-image: url(../images/icons/wordpress.png);
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 6px;
  }
}
.product__item-text {
  padding: 0 30px 30px;
  border-bottom: 1px solid #ececec;
  color: #555555;
}
.product__rate-info {
  padding: 15px 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__price-range {
  font-size: 15px;
  background-color: #0674ec;
  color: #fff;
  padding: 0px 18px;
  border-radius: 22px;
}
.product__like {
  font-size: 15px;
  color: #555;
  margin-left: 17px;
  .lnr-heart {
    color: #7347c1;
  }
}
.product__star {
  margin-left: 15px;
}
.product__cart {
  font-size: 12px;
  margin-left: 20px;
  color: #0674ec;
  margin-left: 18px;
}
.products__btn-all {
  margin: 0 auto;
  display: block;
  padding: 18px 32px;
  border-radius: 40px;
  font-size: 16px;
  border: none;
  background-color: #0674ec;
  color: #fff;
  outline: none;
}

// end new-products

// start followers
.followers {
  background-color: #eff1f5;
  padding: 117px 0px;
}
.followers__title {
  margin-bottom: 48px;
}
.followers-slider__arrows {
  position: absolute;
  right: 30px;
  width: 111px;
  height: 46px;
  background-color: #7347c1;
  border-radius: 32px;
  top: 31px;
  span {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 12px;
  }
  .lnr-chevron-right {
    right: 13px;
  }
  .lnr-chevron-left {
    right: 75px;
  }
}

// end followers

// start total
.total {
  padding: 90px 0;
  background-color: #212225;
}
.total__inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.total__inner-box {
  .lnr {
    font-size: 48px;
  }
  .lnr-briefcase {
    color: #feb71d;
  }
  .lnr-cloud-upload {
    color: #58c9e9;
  }
  .lnr-smile {
    color: #77de51;
  }
  .lnr-users {
    color: #ff6a6d;
  }
}
.total-text {
  margin-top: 45px;
  font-size: 18px;
  line-height: 36px;
  color: #fff;
  span {
    font-size: 36px;
    line-height: 36px;
  }
  &.yellow {
    span {
      color: #feb71d;
    }
  }
  &.blue {
    span {
      color: #58c9e9;
    }
  }
  &.green {
    span {
      color: #77de51;
    }
  }
  &.red {
    span {
      color: #ff6a6d;
    }
  }
}
// end total

// start advantages
.advantages {
  padding: 119px 0;
}
.advantages__title {
  margin-bottom: 30px;
}
.advantages__text {
  font-size: 16px;
  line-height: 30px;
  color: #555;
  max-width: 680px;
  margin: 0 auto 60px;
  text-align: center;
}
.advantages__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.advantages__item {
  width: 361px;
  height: 377px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 27px;
  padding: 54px 35px 52px;
  text-align: center;
  span {
    display: block;
    font-size: 60px;
    margin-bottom: 40px;
  }
  .lnr-license {
    color: #0674ec;
  }
  .lnr-magic-wand {
    color: #7f4ec2;
  }
  .lnr-lock {
    color: #77de51;
  }
  .lnr-chart-bars {
    color: #feb71d;
  }
  .lnr-leaf {
    color: #58c9e9;
  }
  .lnr-phone {
    color: #ff6a6d;
  }
}
.advantages__img {
  color: #0674ec;
  font-size: 60px;
  margin-bottom: 40px;
}
.advantages__item-title {
  font-size: 24px;
  margin-bottom: 23px;
}
.advantages__item-text {
  font-size: 16px;
  line-height: 30px;
  color: #555;
}
// end advantages

// start sell-buy
.sell-buy {
  max-width: 100%;
  height: 561px;
}
.sell-buy__inner {
  display: flex;
}
.sell,
.buy {
  width: 50%;
  color: #fff;
  text-align: center;
}
.sell,
.buy {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 561px;
  padding: 99px 0 0px;
}
.sell {
  background-image: url(../images/bg-sell.png);
  .sell__link {
    color: #0674ec;
  }
  &::before {
    content: url(../images/icons/sell.svg);
  }
}
.buy {
  background-image: url(../images/bg-buy.png);
  .sell__link {
    color: #7347c1;
  }
  &::before {
    content: url(../images/icons/buy.svg);
  }
}

.sell-buy__title {
  font-size: 36px;
  margin-bottom: 31px;
  margin-top: 45px;
}
.sell-buy__text {
  font-size: 16px;
  line-height: 36px;
  margin-bottom: 36px;
}
.sell__link {
  background-color: #fff;
  font-size: 16px;
  line-height: 55px;
  border-radius: 50px;
  padding: 0 26px;
}

// end sell-buy

// start reviews
.reviews {
  height: 838px;
  padding: 120px 0;
}
.reviews__inner {
  text-align: center;
}

.reviews__title {
  margin-bottom: 39px;
}
.reviews__text {
  font-size: 16px;
  line-height: 30px;
  color: #555;
  max-width: 681px;
  width: 100%;
  text-align: center;
  margin: 0 auto 35px;
}

.reviews__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 59px;
  position: relative;
}
.reviews__items .lnr-chevron-left {
  display: flex;
  align-items: center;
  padding-left: 14px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 15px 0px rgba(67, 67, 67, 0.15);
  position: absolute;
  left: -23px;
  top: 138px;
  width: 50px;
  height: 50px;
  z-index: 1;
  color: #7347c1;
}

.reviews__items .lnr-chevron-right {
  display: flex;
  align-items: center;
  padding-left: 18px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 15px 0px rgba(67, 67, 67, 0.15);
  position: absolute;
  right: -10px;
  top: 138px;
  width: 50px;
  height: 50px;
  z-index: 1;
  color: #7347c1;
}
.reviews__item {
  width: 555px;
  height: 315px;
  border-left: 2px solid #0674ec;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 50px 37px;
  & + & {
    margin-left: 27px;
  }
}

.reviews__item-author {
  display: flex;
  justify-content: space-between;
  color: #000;
  margin-bottom: 25px;
  font-size: 20px;
  align-items: center;
  position: relative;
  span {
    color: #555;
    font-size: 16px;
    display: block;
  }
  .lnr-bubble {
    font-size: 60px;
    color: #e8e8e8;
  }
}
.reviews__item-avatar {
  width: 80px;
  height: 80px;
  margin-right: 18px;
}
.reviews__item-author__name {
  padding-right: 130px;
}

.reviews__item-text {
  font-size: 16px;
  line-height: 30px;
  color: #555;
}
.reviews-all {
  padding: 12px 35px;
  font-size: 16px;
  background-color: #0674ec;
  border-radius: 40px;
}
// end reviews

// start news
.news {
  background-color: #eff1f5;
  padding: 118px 0;
}
.news__title {
  margin-bottom: 36px;
}
.news__text {
  font-size: 16px;
  line-height: 30px;
  color: #555;
  text-align: center;
  margin: 0 auto 52px;
  max-width: 681px;
  width: 100%;
}
.news__items {
  display: flex;
  flex-basis: calc(33.333% - 30px);
  flex-wrap: wrap;
  margin-left: -30px;
  .product__item-title {
    font-size: 22px;
    font-weight: 500;
  }
  .product__date {
    width: 50%;
    border-right: 1px solid #ececec;
  }
  .product__rate-info {
    padding: 10px 30px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product__descr {
    padding-bottom: 0;
  }
}
// end news

// start guarantee
.guarantee {
  padding: 60px 0;
}
.guarantee__inner {
  display: flex;
  justify-content: space-around;
}
.guarantee-item {
  text-align: center;
}
.guarantee__img {
  height: 120px;
  img {
    align-items: center;
  }
}

.guarantee-text {
  font-size: 24px;
  margin-top: 30px;
}
.money a {
  color: #0674ec;
}
.support a {
  color: #7347c1;
}
// end guarantee

// start banner
.banner {
  padding: 108px 0;
  background-image: url(../images/bg-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner__inner {
  color: #fff;
  text-align: center;
}
.banner__title {
  font-size: 36px;
  margin-bottom: 18px;
}
.banner__text {
  font-size: 18px;
  margin-bottom: 52px;
}
.join {
  padding: 0px 42px;
  background-color: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  color: #0674ec;
  line-height: 72px;
}
// end banner

// start footer
.footer {
  background-color: #262b30;
  color: #ababab;
  padding: 110px 0 120px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__info {
  max-width: 290px;
}
.footer__social {
  max-width: 370px;
}
.footer__col-title {
  font-size: 18px;
  margin-bottom: 30px;
  padding-top: 11px;
}
.footer__menu a,
.footer__info-phone a {
  color: #ababab;
}
.footer__logo {
  margin-bottom: 22px;
}
.footer__text {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 28px;
}
.footer__menu li a {
  font-size: 15px;
  line-height: 32px;
}

.footer__info span {
  padding-right: 10px;
}
.footer__info-phone,
.footer__info-email,
.footer__info-adress {
  margin-bottom: 8px;
}
.footer__info-adress {
  display: flex;
  align-items: center;
  line-height: 25px;
}
.footer__form {
  position: relative;
  input {
    width: 360px;
    height: 50px;
    border-radius: 32px;
    border: none;
    outline: none;
    padding-left: 30px;
    padding-right: 125px;
    font-size: 15px;
    ::placeholder {
      font-size: 15px;
      color: #ababab;
    }
  }
  button {
    position: absolute;
    right: 9px;
    top: -1px;
    font-size: 15px;
    padding: 17px 30px;
    border-radius: 32px;
    border: none;
    background-color: #0674ec;
    color: #fff;
  }
}

// end footer
